

.main_page_bg_color {
    background-color: #121212;
}

#float_left {
    float: right;
}

#float_center {
    float: center;
}

#float_right {
    float: right;
}

#align_center {
    text-align: center;
}
#logo_dimension {
    width: 5rem;
    height: 5rem;
    margin: 2rem;

}

#img_link {
    color: none;
}

.wrap_parent {
    position: absolute;
    top: 5rem;
    bottom: 5rem;
}

.wrap_zindex_1 {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    z-index: 1;
}

.wrap_zindex_2 {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    z-index: 2;
}

a:hover {
    color: aquamarine;
    
}
a:active {
    color: blue;
    text-decoration: dotted;
}

a:visited {
    color: yellowgreen;
    text-decoration: dashed;
}
.nav_div {
    background: repeating-linear-gradient(45deg, #121212, #1F1B24);
    padding: 1.5rem;
}



a {
    padding: 0.5rem;
    
}

.banner {
    text-align: center;
    background-image: url("FacutyBlank_500x500-8.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    opacity: 0.4;
    font-size: 3rem;
}

.banner > p {
    padding-top: 3rem;
    color: goldenrod;
    margin: 0rem;
    
}

.golden_banner {
    position: absolute;
    z-index: 1;
    height: 13rem;
    width: 100%;
    margin-top: -13rem;
    opacity: 0.2;
}


.main {
    background-color: rgba(147, 131, 131, 0.344);
    color: #121212;
    min-height: fit-content;
    overflow: scroll;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding: 0.3rem;
    padding-top: 0rem;
    display: flex;
    justify-content: center;
    text-align: center;
    scrollbar-width: none;
    
}

#left_sample {
    background-color: rgb(230, 246, 228);
    width: 40%;
    height: auto;
}

#center_sample {
    background-color: rgb(246, 246, 228);
    width: 40%;

}

#right_sample {
    background-color: rgb(154, 177, 178);
    width: 40%;
}

#sample_img {
    width: 90%;
    height: 90%;
}

#output {
    background-color: whitesmoke;
    min-height: 20rem;
    max-height: max-content;
    padding: 1rem;
    background-color: lightblue;
    border: 0.2rem;
    border-style: dashed;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    
}
label {
    color: whitesmoke;
}
input {
    background-color: cadetblue;
    padding: 0.1rem;
    border-color: #1F1B24;
    font-weight: bold;
    border-radius: 1rem;
}

#upload {
    width: 100%;
}
#download {
    border-radius: 1rem;
}

h3 {
    color: whitesmoke;
    margin-bottom: 0.1rem;
    text-align: center;
}

#uploads {
    background-color: cadetblue;
    padding: 0.1rem;
    border-color: #1F1B24;
    font-weight: bold;
    border-radius: 1rem;
    width: 100%;
}